.mail-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &--false {
    align-items: center;
    justify-content: center;
  }

  &__sort {
    background: var(--color-light-gray-variant);
    border-bottom: var(--color-light-gray) solid 2px;
    font-weight: bold;
    padding: 0 0 0 var(--space-small);
    width: 100%;

    @media (min-width: 768px) {
      display: grid;
      gap: 0;
      grid-template-columns: 20% 25% 45% 10%;
      height: 52px;
      padding: 0;
    }

    &-option {
      background: none;
      border: none;
      font-weight: bold;
      height: 100%;
      margin: var(--space-small);
      padding: 0 var(--space-small) 0 0;
      text-align: left;
      text-transform: capitalize;

      @media (max-width: 767px) {
        align-items: center;

        &:not(:first-child) {
          margin-left: 0;
        }

        &:not(:last-child) {
          border: var(--color-light-gray) solid;
          border-width: 0 2px 0 0;
        }
      }

      @media (min-width: 768px) {
        margin: 0;
        padding: var(--space-small);
      }

      &-selected {
        font-size: 12px;
        margin-left: var(--space-extra-small);
      }
    }
  }
}
