.mail-row {
  border-bottom: var(--color-light-gray) solid 1px;
  display: grid;
  gap: 0;
  grid-template-columns: 75% 25%;
  grid-template-areas:
    'from date'
    'to to'
    'subject subject'
    'body body';
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  @media (max-width: 767px) {
    background: url('../../../assets/icons/mail-from-to.svg')
      var(--space-medium)
      16px
      no-repeat;
    background-size: 13px;
  }

  @media (min-width: 768px) {
    background: none;
    grid-template-columns: 20% 25% 45% 10%;
    grid-template-areas:
      'from to subject date'
      'body body body body';
    line-height: 26px;

    &:not(.mail-row--expanded) {
      height: 52px;
    }
  }

  &--expanded {
    background-color: var(--color-light-gray-variant);

    .mail-row__data--has-attachment::after {
      background-color: var(--color-light-gray-variant);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-light-gray-variant);
      color: var(--color-blue);
      cursor: pointer;

      .mail-row__data--has-attachment::after {
        background-color: var(--color-light-gray-variant);
      }
    }
  }

  &__data {
    margin: var(--space-small) var(--space-medium);

    @media (min-width: 768px) {
      margin: var(--space-small);
    }

    &:not(.mail-row__data--body) {
      overflow: hidden;
      text-overflow: inherit;

      @media (max-width: 767px) {
        &:not(.mail-row__data--show) {
          height: 18px;
        }
      }
    }

    &--body {
      border-top: var(--color-light-gray) solid 1px;
      grid-area: body;
      height: auto;
      margin-top: 0;
      overflow: auto;
      margin-top: 0;
      padding-top: var(--space-small);
      white-space: break-spaces;
    }

    &--sort-by {
      font-weight: bold;
    }

    &--multiple-address {
      align-items: center;
      display: flex;
      position: relative;

      &::after {
        align-items: center;
        background: var(--color-gray-variant);
        border-radius: var(--space-extra-small);
        color: var(--color-white);
        content: attr(data-hidden-address);
        display: inline-flex;
        line-height: 1;
        padding: 2px var(--space-extra-small);
        position: absolute;
        right: 0;
      }
    }

    &--has-attachment {
      align-items: center;
      display: flex;
      padding-right: var(--space-medium);
      position: relative;

      @media (min-width: 768px) {
        margin-right: 0;
      }

      &::after {
        background: var(--color-white) url('../../../assets/icons/clip.svg') right center no-repeat;
        content: '';
        display: block;
        height: 18px;
        position: absolute;
        right: 0;
        width: 18px;

        @media (min-width: 768px) {
          top: 4px;
        }
      }
    }

    &--show {
      align-items: flex-start;
      height: auto;
      white-space: break-spaces;
    }

    &-attachment {
      color: blue;
      display: block;
      margin-top: var(--space-small);
    }

    @media (max-width: 767px) {
      &--from {
        grid-area: from;
        margin-bottom: 0;
        padding-left: var(--space-medium);
      }

      &--to {
        grid-area: to;
        margin-top: var(--space-extra-small);
        padding-left: var(--space-medium);
      }

      &--subject {
        grid-area: subject;
        margin-top: 0;
      }

      &--date {
        align-items: center;
        display: flex;
        grid-area: date;
        justify-content: flex-end;
        margin-bottom: 0;
        margin-left: 0;
        text-align: right;

        &::after {
          background: var(--color-white) url('../../../assets/icons/arrow-right.svg') right center no-repeat;
          content: '';
          height: 8px;
          width: 8px;
        }
      }
    }
  }
}
