.date-picker {
  align-items: center;
  border: var(--color-light-gray) solid 2px;
  border-radius: var(--space-small);
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: space-between;
  overflow: hidden;

  @media (min-width: 375px) {
    padding-left: var(--space-small);
  }

  @media (min-width: 768px) {
    height: 52px;
  }

  &__group {
    align-items: center;
    display: flex;
    height: 100%;

    &::before {
      display: none;

      @media (min-width: 375px) {
        background: url('../../../assets/icons/calendar.svg') center no-repeat;
        content: '';
        display: block;
        height: 100%;
        margin-right: var(--space-extra-small);
        width: var(--icon-extra-small);
      }
    }
  }

  &__input,
  &__submit {
    border: none;
    cursor: pointer;
    height: 100%;
    text-align: center;
  }

  &__input {
    position: relative;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  &__submit {
    background: var(--color-light-gray-variant) url('../../../assets/icons/search.svg') center no-repeat;
    background-size: var(--icon-extra-small);
    border-left: var(--color-light-gray) solid 2px;
    height: 100%;
    width: 52px;

    @media (min-width: 768px) {
      background-size: var(--icon-small);
    }
  }
}
