.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media (min-width: 768px) {
    padding: var(--space-large);
  }

  &__form {
    margin: var(--space-medium);
    max-width: 380px;

    @media (min-width: 768px) {
      margin: 0 0 var(--space-medium);
    }
  }
}
