:root {
  /* colors */
  --color-black: #000;
  --color-blue: blue;
  --color-gray: #666;
  --color-gray-variant: #999;
  --color-light-gray: #d0d0d0;
  --color-light-gray-variant: #f5f5f5;
  --color-white: #fff;
  /* fonts */
  --font-default: 'Arial', sans-serif;
  --font-default-size: 16px;
  /* spacing */
  --space-extra-small: 4px;
  --space-small: 12px;
  --space-medium: 24px;
  --space-large: 36px;
  /* sizes */
  --icon-extra-small: 20px;
  --icon-small: 24px;
}
